main {
    background-color: black;
}

.pc_element {
    background-color: #f5c555;
    color: black;
    position: relative;
    padding: 40px;
    height: 300px;
}
.pc_element_album {
    width: 285px;
}

.pc_element_contenu_titre-album {
    font-size: 48px;
    font-weight: 700;
}

.pc_element_contenu_spotify {
    justify-content: center;
    align-items: center;
    display: flex;
}

.pc_element_contenu_spotify_texte_titre {
    font-weight: bold;
}

.pc_album_effet {
    display: none;
}

[class^="pc_element_album_effet"] {
    display: none;
}

.pc_presentation {
    padding: 20px;
}

main > section > article > h2 {
    color: #d679a6;
    padding: 30px 0 30px 0;
}

th,td, tr {
    border-bottom: white;
    text-align: left;
    align-items: center;
    padding: 5px;
    width:fit-content;
    vertical-align: top;
}

h1 {
    color: yellow;
    padding-bottom: 5px;
    font-weight:500;
}
.fond_carte {
    width: 240px;
    left: 0px;
    top: 0px;
    z-index: -1;
    display: block;
}

.flex-container {
    flex-direction: column;
    display: relative;
}

.carte {
    position: absolute;
}

@media screen and (min-width: 1224px) {

    .pc_element_contenu {
        float: right;
    }

    .pc_element_fond {
        float: left;
    }

    .pc_element_album {
        position: absolute;
        z-index: 10;
    }

    .pc_element_album, [class^="pc_element_album_effet"] {
        width: 300px;
    }

    #fleche, #fleche {
        padding: 0 20px 0 20px;
    }

    [class^="pc_element_album_effet"] {
        display: block;
        position: absolute;
    }

    .pc_element_album_effet1 {
        z-index: 1;
        left: 270x;
        opacity: 0.1;
    }

    .pc_element_album_effet2 {
        z-index: 2;
        left: 240px;
        opacity: 0.2;
    }

    .pc_element_album_effet3 {
        z-index: 3;
        left: 210px;
        opacity: 0.3;
    }

    .pc_element_album_effet4 {
        z-index: 4;
        left: 180px;
        opacity: 0.4;
    }

    .pc_element_album_effet5 {
        z-index: 5;
        left: 150px;
        opacity: 0.5;
    }

    .pc_element_album_effet6 {
        z-index: 6;
        left: 120px;
        opacity: 0.6;
    }

    .pc_element_album_effet7 {
        z-index: 7;
        left: 90px;
        opacity: 0.7;
    }

    .pc_element_album_effet8 {
        z-index: 8;
        left: 60px;
        opacity: 0.8;
    }

    .pc_element_album_effet9 {
        z-index: 9;
        left: 30px;
        opacity: 0.9;
    }

}

@media screen and (max-width: 767px) {

    .pc_element_album {
        float: right;
    }

    .pc_element_contenu_titre-album {
        position: absolute;
    }

    .pc_element_contenu_spotify {
        position: absolute;
        padding-top: 200px;
    }

    #fleche, #spotify {
        padding: 0 34px 0 34px;
    }
}

