* {
    transition: all 0.5s ease-in-out;
}

html {
    font-size: 50%;
}

body {
    background-color: black;
    background-image: url("/src/assets/img/header.jpg");
    background-size: auto 100vw;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(5, 1fr);
    font: 1.5rem 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

main {
    grid-column: 1 / 6;
}

@media screen and (min-width: 800px) {
    body {
        grid-template-columns: repeat(16, 1fr);
        grid-row-gap: 50px;
    }

    main {
        grid-column: 2 / 16;
    }
}

@media screen and (min-width: 1224px) {

    html {
        font-size: 62.5%;
    }

    body {
        background-attachment: fixed;
        background-size: auto 100vh;
    }
}