@media screen and (max-width: 1200px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

form {
  background-color: #f5c555;
  padding-top: 20px;
}

fieldset {
  margin: 30px;
  padding: 40px;
  border: none;
}
/* besoin d'aide pour les grid... qu'est-ce qui manque pour qu'elles affichent comme il faut?*/
#g1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "prenom prenom nom nom"
    "courriel courriel courriel courriel"
    "naissance naissance age age"
    "tel tel tel tel";
  border: 2px solid #d679a6;
}

#g2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "civique rue province pays postal";
  border: 2px solid #d679a6;
  background-color: #d9967b;
}
#g3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "couleur images mois semaine"
    "siteweb siteweb note note"
    "dateheure dateheure choix choix";
}
#g4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "alain jacques dove drhomme";
  border: 2px solid #d679a6;
}
#g5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "motpasse";
}

legend {
  text-align: center;
}

label {
  color: white;
}

input {
  background-color: #f5c555;
  border-style: none;
  border-bottom: 1px solid black;
  padding: 20px 0px 10px 0px;
  margin-bottom: 40px;
}

#g2 > input,
#g2 > select {
  background-color: #d9967b;
}

/* #g2 div > input,
#g2 div > select {
  background-color: #d9967b;
} */

/* #carre1,
#carre3 {
  border: 2px solid #d679a6;
}

#carre2 {
  border: 2px solid #d679a6;
  background-color: #d9967b;
}

#carre2 div > input,
#carre2 div > select {
  background-color: #d9967b;
} */

#province {
  border: 2px solid black;
  height: 40px;
}

#couleur {
  height: 70px;
  width: 40px;
  border: none;
}

/*code pour le Range, à ne pas modifier*/
#note {
  height: 20px;
  -webkit-appearance: none;
  margin: 12px 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: 35%;
}
#note::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #d679a6;
  border-radius: 25px;
}
#note::-webkit-slider-thumb {
  border: 2px solid #d679a6;
  height: 32px;
  width: 32px;
  border-radius: 24px;
  background: #fbd273;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
/*code pour le Range, à ne pas pas modifier*/

#danser {
  margin-top: 30px;
}

#reset,
#submit-form {
  background-color: #f5c555;
  border: 1px solid black;
}

/*je m'occupe du CSS pour le range!*/
