footer {
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    grid-row-start: 3;
    grid-column: span 16;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    padding: 0 50px;
}

footer a {
    color: #d679a6;
    text-decoration: none;
}

footer a:hover, footer a:focus {
    color: white;
    outline: none;
}

footer img {
    width: 150px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer div:nth-child(3) ul {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
}

footer div:nth-child(3) ul li {
    padding: 0 15px;
}

footer div:last-child {
    text-align: right;
}

@media screen and (min-width: 1024px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}