header {
    grid-column: 1 / 6;
    grid-row-end: 1;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div > img {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

header > nav {
    background-color: rgba(0, 0, 0, 0.7);
}

header > nav > ul {
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 4rem;
    margin-top: 0;
    padding: 0;
    text-transform: uppercase;
}

header li {
    flex-grow: 1;
    text-align: center;
}

header li a {
    border-bottom: 1px solid #f5c555;
    color: #f5c555;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

header li a:hover, header li a:focus {
    border-color: #d679a6;
    outline: none;
}

header li a.active {
    border-color: transparent;
    color: #d679a6;
    font-weight: bold;
    pointer-events: none;
}

@media screen and (min-width: 800px) {
    header {
        grid-column: 2 / 16;
    }

    header > nav > ul {
        display: flex;
    }
}

@media screen and (min-width: 1224px) {
    header > div {
        height: 100vh;
    }

    header > nav {
        background-color: transparent;
    }
}